<h1>Portland Macbook Tracker</h1>
<form action="/search" method="post">
  <h2>Search By:</h2>
  <div class='form-group'>
    <label>
      <input type="radio" name='type' value='all'> All
    </label>
    <label>
      <input type="radio" name='type' value='true' checked> Normal
    </label>
    <label>
      <input type="radio" name='type' value='false'> Damaged/Unusual
    </label>
  </div>
  <label for="min_price">Enter Min Price</label>
  <input type="number" name="min_price"><br>

  <label for="max_price">Enter Max Price</label>
  <input type="number" name="max_price"><br>

  <p>Sort By:</p>
  <div>
    <label>
      <input type="radio" name="sort" value="price"> Price
    </label>
    <label>
      <input type="radio" name="sort" value="date_posted" checked> Date Posted
    </label>
  </div>
  <button type="submit">Search</button>
</form>

<% if @search_macs.any? %>
  <h2><%= @type %> Macbooks: <%= @search_macs.length%> out of <%= @macs.length%></h2>
  <table class="table table-striped table-inverse">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Link</th>
        <th>Description</th>
        <th>Condition</th>
        <th>Model</th>
        <th>Posted</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @search_macs.each do |mac| %>
        <tr>
          <td><%= mac[:title] %></td>
          <td>$<%= mac[:price] %></td>
          <td><a href="<%= mac[:link] %>">Link</td>
          <td>
            <% if mac[:description].length > 100 %>
              <%= mac[:description][0..99] + "..." %>
            <% else %>
              <%= mac[:description] %>
            <% end %>
          </td>
          <td><%= mac[:condition] %></td>
          <td><%= mac[:model] %></td>
          <td><%= mac[:date_posted]%></td>
          <td><%= mac[:address] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <h2>Currently no Macbooks</h2>
<%end%>
