
<form action="/" method="post">
  <p>Default Search is Portland</p>
  <p>If you would like to change your search location go to craigslist and search macbook then copy and paste that link here:</p>
  <input class='form-control' type="text" name="link"><br>
  <button type="submit" class='btn btn-info'>Check current macbooks</button>
</form>
<p><em>this can take a little while as the app scrapes over 100 web pages</em></p>

<% if @macs.any? %>
  <h2>Macbooks:</h2>
  <table class="table table-striped table-info">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Link</th>
        <th>Location</th>
        <th>Condition</th>
        <th>Model</th>
        <th>Posted</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @macs.each do |mac| %>
        <tr>
          <td><%= mac[:title] %></td>
          <td>$<%= mac[:price] %></td>
          <td><a href="<%= mac[:link] %>">Link</td>
          <td><%= mac[:location] %></td>
          <td><%= mac[:condition] %></td>
          <td><%= mac[:model] %></td>
          <td><%= mac[:date_posted]%></td>
          <td><%= mac[:description] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <h2>Currently no Macbooks</h2>
<%end%>
